.btn {
  display: table; // fix width in Edge
  position: relative;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-property: filter;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  text-decoration: none;
  outline-style: none;
  width: fit-content;
  height: 2.8rem;
  line-height: 2.8rem;
  font-size: 1.2rem;
  padding: 0 1.25rem;
  overflow: hidden;
  @extend .shadow-1, .rounded-1;

  &:hover {
    filter: brightness(115%);
  }

  &.small {
    font-size: 1rem;
    padding: 0 1rem;
    height: 2rem;
    line-height: 2rem;
  }

  &.large {
    font-size: 1.4rem;
    padding: 0 1.5rem;
    height: 3.6rem;
    line-height: 3.6rem;
  }

  &.push {
    transition: 0.2s ease;
    transition-property: box-shadow, transform;
    box-shadow: inset 0 -0.5rem 0rem -0.25rem rgba(0, 0, 0, 0.25),
      inset -0.5rem 0 0rem -0.25rem rgba(0, 0, 0, 0.25);

    &:active {
      box-shadow: none;
      transform: translate(2px, 2px);
    }
  }

  &.press {
    transition: 0.1s ease;
    transition-property: box-shadow, transform;
    box-shadow: inset 0 -0.5rem 0 -0.25rem rgba(0, 0, 0, 0.25);

    &:active {
      box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.25);
      transform: translateY(2px);
    }
  }

  &.circle {
    display: block;
    text-align: center;
    padding: 0;
    font-size: 1.5rem;
    width: 2.8rem;
    height: 2.8rem;
    line-height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;

    &.small {
      font-size: 0.9rem;
      width: 2rem;
      height: 2rem;
      line-height: 2rem;
    }

    &.large {
      font-size: 1.8rem;
      width: 3.8rem;
      height: 3.8rem;
      line-height: 3.8rem;
    }
  }

  &.disabled,
  &[disabled] {
    pointer-events: none;
    background-color: rgb(200, 200, 200) !important;
    color: rgb(120, 120, 120) !important;
    box-shadow: none;
  }

  &.outline {
    background-color: transparent;
    border: 2px solid currentColor;

    .outline-text {
      transition: color 0.3s ease;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      transition-duration: 0.3s;
      transition-timing-function: ease;
      transition-property: opacity;
      background-color: currentColor;
      z-index: -2;
    }

    &:hover {
      .outline-text {
        color: #fff !important;
      }

      &::before {
        opacity: 1;
      }
    }

    &.opening {
      &::before {
        left: 50%;
        right: 50%;
        transition-property: opacity, left, right;
      }

      &:hover::before {
        left: 0;
        right: 0;
      }
    }
  }
}
