.card {
  display: table;
  margin: 0.5rem 0;
  box-sizing: border-box;
  .card-header {
    font-size: 1.5rem;
    padding: 1rem 1.5rem 0.5rem;
  }
  .card-content {
    padding: 0 1.5rem 0.5rem;
  }
  .card-footer {
    padding: 0.5rem 1.5rem 1rem;
    border-top: 2px solid rgba(180, 180, 180, 0.2);
  }
}
