.card {
  position: relative;
  margin: 0.5rem 0;
  align-self: start;
  word-break: break-word;
  @extend .shadow-1;

  .card-header {
    font-size: 1.5rem;
    padding: 1.5rem;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }

  .card-content {
    padding: 1.5rem;

    .card-header {
      padding: 0 0 3rem 0;
    }

    .card-footer {
      padding: 3rem 0 0 0;
    }

    p {
      margin: 0;
    }
  }

  .card-footer {
    padding: 1.5rem;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
  }

  .card-image {
    position: relative;

    img {
      background-size: cover;
      width: 100%;
      display: block;
    }
  }
}

// Grix stretch fix
.grix.vstretch .card {
  align-self: auto;
}
