.dropdown {
  position: relative;
  display: inline-block;

  .dropdown-content {
    position: absolute;
    z-index: 10;
    display: none;
    flex-direction: column;
    overflow: hidden;
    @extend .shadow-1, .rounded-1;

    .dropdown-item {
      color: inherit;
      padding: 1rem 1.25rem;
      transition: background-color 0.2s ease;

      &.active {
        background-color: getColor('primary');
        color: txtColor(getColor('primary'));
      }

      &:hover:not(.active) {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }

  &.active-hover:hover .dropdown-content {
    display: flex;
  }
}

// Animation
.dropdown {
  &.anim-fade {
    .dropdown-content {
      transition-timing-function: ease-in-out;
      transition-property: opacity;
      transition-duration: inherit;
      opacity: 0;
    }

    &.active .dropdown-content {
      opacity: 1;
    }
  }
}
