/** Different layouts **/
// Basic layout
.layout {
  display: grid;
  grid-gap: 0;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'main'
    'footer';

  header {
    grid-area: header;
  }

  main {
    grid-area: main;
  }

  footer {
    grid-area: footer;
  }
}

// With sidenav
.layout.with-sidenav {
  grid-template-areas:
    'header header'
    'sidenav main'
    'footer footer';
  grid-template-columns: auto 1fr;
  grid-auto-rows: auto 1fr auto;

  &.sidenav-right {
    grid-template-areas:
      'header header'
      'main sidenav'
      'footer footer';
    grid-template-columns: 1fr auto;
  }

  @include responsive('sm-down') {
    grid-template-areas:
      'header'
      'main'
      'footer';
    grid-template-columns: 1fr;
    grid-auto-rows: auto 1fr auto;
  }

  .sidenav.fixed {
    position: fixed;
    z-index: $layouts-sidenav-fixed-zindex;
    grid-area: initial;

    @include responsive('md-up') {
      grid-area: sidenav;
      position: initial;
      z-index: $layouts-sidenav-fixed-zindex-mdup;
    }
  }

  &.fixed-sidenav {
    grid-template-areas:
      'header'
      'main'
      'footer';
    grid-template-columns: 1fr;
    grid-auto-rows: auto 1fr auto;

    @include responsive('md-up') {
      header,
      main {
        padding-left: $sidenav-width;
      }

      .navbar-fixed .navbar {
        margin-left: $sidenav-width;
      }

      footer {
        padding-left: $sidenav-width + 0.5rem;
      }

      &.sidenav-right {
        header,
        main {
          padding-right: $sidenav-width;
          padding-left: 0;
        }

        .navbar-fixed .navbar {
          margin-right: $sidenav-width;
          margin-left: 0;
        }

        footer {
          padding-right: $sidenav-width + 0.5rem;
          padding-left: 0.5rem;
        }
      }
    }

    .sidenav.fixed {
      position: fixed;
      grid-area: initial;
    }

    &.under-navbar {
      header {
        padding-left: initial;
      }

      .navbar-fixed .navbar {
        margin-left: 0;
      }

      &.sidenav-right {
        header {
          padding-right: initial;
        }

        .navbar-fixed .navbar {
          margin-right: 0;
        }
      }

      @include responsive('md-up') {
        .sidenav.fixed {
          top: 3.5rem;
        }
      }
    }

    &.sidenav-large {
      @include responsive('md-up') {
        header,
        main {
          padding-left: $sidenav-large-width;
        }

        &:not(.under-navbar) {
          .navbar-fixed .navbar {
            margin-left: $sidenav-large-width;
          }
        }

        footer {
          padding-left: $sidenav-large-width + 0.5rem;
        }

        &.sidenav-right {
          header,
          main {
            padding-right: $sidenav-large-width;
            padding-left: 0;
          }

          &:not(.under-navbar) {
            .navbar-fixed .navbar {
              margin-right: $sidenav-large-width;
              margin-left: 0;
            }
          }

          footer {
            padding-right: $sidenav-large-width + 0.5rem;
            padding-left: 0.5rem;
          }
        }
      }
    }
  }
}
