.lightbox {
  will-change: top, left, width, height, filter, transform, position;
  transition-timing-function: ease;
  transition-property: top, left, width, height, filter, transform, position;
  cursor: zoom-in;
  transform: translate(0);

  &:hover {
    filter: brightness(115%);
  }

  &.active {
    position: absolute;
    cursor: zoom-out;
    z-index: 1000;
    // transform: translate(-50%, -50%);
  }
}

.lightbox-overlay {
  position: fixed;
  transition-timing-function: ease;
  transition-property: opacity, background-color;
  opacity: 0;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
