.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  right: 0;
  margin: auto;
  width: 50vw;

  &.from-top {
    top: -800px;
    &.active {
      top: 50px;
    }
  }
  &.showing {
    transform: scaleX(0) scaleY(0);
    &.active {
      transform: scaleX(1) scaleY(1);
    }
  }
}

.modal-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 800;
  background-color: rgba(0, 0, 0, 0.3);
}
