.caroulix {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
  align-items: center;

  .caroulix-item {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    left: 0;
    top: 0;
    transition-property: transform;
    transition-duration: inherit;
    transition-timing-function: ease-out;

    &.active {
      transform: translateX(0px);
    }

    img {
      width: 100%;
    }
  }
}
