.sidenav {
  z-index: 900;
  width: $sidenav-width;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  @extend .shadow-1;
  transform: translateX(-105%);
  transition: transform ease;
  overflow: hidden;

  &.active {
    transform: translateX(0);
    overflow-y: auto;
  }

  @include responsive('md-up') {
    &.fixed {
      transform: none;

      .sidenav-header .sidenav-trigger {
        display: none;
      }
    }
  }

  &.large {
    width: $sidenav-large-width;
  }

  &:hover {
    overflow-y: auto;
  }

  .sidenav-header {
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0.5rem;
    position: relative;

    .logo {
      height: 3rem;
    }

    .sidenav-trigger {
      background-color: transparent;
      border: none;
      color: inherit;
      position: absolute;
      top: 0;
      left: 0;
      height: 2.5rem;
      width: 2.5rem;
      cursor: pointer;

      &:focus {
        outline: none;
      }
    }
  }

  a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 0 0.75rem;
    transition: background-color 0.23s ease;
    line-height: 2.5rem;

    &:hover,
    &.active {
      background-color: rgba(0, 0, 0, 0.15);
    }
  }

  .divider {
    margin: 0.2rem 0;
  }
}

.sidenav-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 800;
  background-color: rgba(0, 0, 0, 0.5);
}

// Animations
body {
  &.anim-push {
    transition: transform ease;

    &.anim-active {
      transform: translateX($sidenav-width);

      &.sidenav-large {
        transform: translateX($sidenav-large-width);
      }

      .sidenav.active {
        transform: translateX(-100%);
      }
    }
  }
}
