.stepper {
  .stepper-menu {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 20%;
      left: 0;
      right: 0;
      bottom: unset;
    }

    .stepper-link {
      width: 100%;
    }
  }
}
