.stepper {
  .stepper-menu {
    position: relative;
    justify-content: space-around;

    &:not(.no-progress)::before {
      left: 0;
      width: var(--stepper-progress);
      bottom: 50%;
      transform: translateY(50%);
      transition-property: width;
    }

    .stepper-link a {
      padding: 1rem;
    }
  }
}
