.card .table thead {
  word-break: normal;
}

.table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border: none;

  &.bordered {
    td,
    th {
      border: 1px solid rgb(210, 210, 210);
    }

    tr {
      border: none;
    }
  }

  &.centered {
    th,
    td {
      text-align: center;
    }
  }

  &.border-0,
  &.striped {
    td,
    th {
      border: none;
    }
  }

  &.hover {
    tbody > tr {
      transition: background-color 0.3s ease;
      &:hover {
        background-color: rgba(0, 0, 0, 0.07);
      }
    }
  }

  &.striped {
    tbody > tr:nth-child(odd) {
      background-color: rgba(0, 0, 0, 0.07);
    }

    tr {
      border: none;
    }
  }

  caption {
    caption-side: bottom;
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    padding: 0.5rem 0;
    color: #797676;
  }

  td,
  th {
    text-align: left;
    padding: 0.8rem 0.5rem;
    vertical-align: middle;
    border-bottom: 1px solid rgb(210, 210, 210);
  }

  thead {
    color: inherit;
  }

  th {
    font-weight: 700;
    color: inherit;
  }
}

.responsive-table {
  overflow-x: auto;
  width: 100%;
  max-width: 100vw;

  td,
  th {
    max-width: 80vw;
    overflow-wrap: break-word;
  }
}

.responsive-table-2 {
  width: 100%;
  max-width: 100vw;
  @include responsive('xs') {
    table {
      thead {
        display: block;
        float: left;

        tr {
          display: block;

          th {
            display: block;
            max-width: 25vw;
            overflow-wrap: break-word;
          }
        }
      }

      tbody {
        display: block;
        overflow-x: auto;
        max-width: 75vw;

        tr {
          display: table-cell;

          td {
            display: block;
            text-align: right;
            overflow-wrap: break-word;
          }
        }
      }
    }
  }
}

.responsive-table-3 {
  width: 100%;
  max-width: 100vw;

  @include responsive('xs') {
    table thead {
      display: none;
    }

    table tr {
      display: block;
    }

    table td {
      display: block;
      text-align: right;
    }

    table td::before {
      content: attr(data-col);
      float: left;
      font-weight: 600;
    }
  }
}
