.toaster {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  z-index: 5000;
  max-width: 50%;

  &.toast-bottom {
    flex-direction: column-reverse;
    top: unset;
    bottom: 0;

    .toast {
      margin-bottom: 5rem;

      &.toast-animated {
        margin-bottom: 1rem;
      }
    }
  }

  &.toaster-left {
    left: 5%;
    align-items: flex-start;
  }

  &.toaster-right {
    right: 5%;
    align-items: flex-end;
  }

  @include responsive('sm-down') {
    &.toaster-mobile-bottom {
      flex-direction: column-reverse;
      top: unset;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      max-width: unset;
      align-items: unset;
      width: 90%;

      .toast {
        margin-top: 0;
        margin-bottom: 5rem;

        &.toast-animated {
          margin-bottom: 0.75rem;
          margin-top: 0.75rem;
        }
      }
    }

    &.toaster-mobile-top {
      flex-direction: column;
      top: 0;
      bottom: unset;
      left: 50%;
      transform: translateX(-50%);
      max-width: unset;
      width: 90%;

      .toast {
        margin-top: 5rem;
        margin-bottom: 0;

        &.toast-animated {
          margin-top: 0.75rem;
          margin-bottom: 0.75rem;
        }
      }
    }
  }

  .toast {
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 1rem;
    margin-top: 5rem;
    transition-property: height, margin, opacity, padding, transform, box-shadow;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    opacity: 0.2;

    .toast-trigger {
      margin-left: auto;
      padding-left: 0.5rem;
      display: flex;
      align-self: flex-start;
      cursor: pointer;
    }

    &.toast-animated {
      margin-top: 1rem;
      opacity: 1;
    }
  }
}
