.toaster {
  position: fixed;
  display: block;
  top: 10%;
  z-index: 5000;
  width: 10rem;
  height: auto;

  &.toaster-left {
    left: 5%;
  }

  &.toaster-right {
    right: 5%;
  }

  .toast {
    width: auto;
    padding: 1rem;
    margin-top: 1rem;
    background-color: #2196e3;
    transition-property: margin-top, opacity, padding-top, padding-bottom;
    transition-timing-function: ease;
  }
}
