.sidenav {
  z-index: $sidenav-zindex;
  width: $sidenav-width;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  transform: translateX(-105%);
  transition: transform ease;
  overflow: hidden;

  .btn {
    flex-shrink: 0;
  }

  &.right-aligned {
    left: initial;
    right: 0;
    transform: translateX(105%);
  }

  &.active {
    transform: translateX(0);
    overflow-y: auto;
  }

  @include responsive('md-up') {
    &.fixed {
      transform: none;

      .sidenav-header .sidenav-trigger {
        display: none;
      }
    }
  }

  &.large {
    width: $sidenav-large-width;
  }

  &:hover {
    overflow-y: auto;
  }

  @media (hover: none) {
    overflow-y: auto;
  }

  .sidenav-header {
    min-height: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0.5rem;
    position: relative;
    flex-shrink: 0;

    .sidenav-logo {
      height: 3rem;
    }

    .sidenav-trigger {
      background-color: transparent;
      border: none;
      color: inherit;
      position: absolute;
      top: 0;
      left: 0;
      height: 2.5rem;
      width: 2.5rem;
      cursor: pointer;

      &:focus {
        outline: none;
      }
    }
  }

  .sidenav-link {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 0 0.75rem;
    transition: background-color 0.23s ease;
    line-height: 3rem;
    flex-shrink: 0;
    cursor: pointer;

    &:hover,
    &.active {
      background-color: rgba(0, 0, 0, 0.15);
    }
  }

  .divider {
    margin: 0.2rem 0;
  }

  .sidenav-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.93rem 0.5rem;
    margin-top: auto;
    flex-shrink: 0;
  }
}

.sidenav-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  z-index: $sidenav-overlay-zindex;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color ease;

  &.active {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.sidenav .dropdown {
  z-index: $dropdown-zindex-sidenav;
}
