.txt-left {
  text-align: left !important;
}

.txt-center {
  text-align: center !important;
}

.txt-right {
  text-align: right !important;
}

.center {
  justify-items: center !important;
}

.left {
  justify-items: start !important;
}

.right {
  justify-items: end !important;
}

.fx-center {
  justify-content: center !important;
}

.fx-right {
  justify-content: flex-end !important;
}

.fx-left {
  justify-content: flex-start !important;
}

.self-center {
  justify-self: center !important;
}

.self-left {
  justify-self: start !important;
}

.self-right {
  justify-self: end !important;
}

.vtop {
  align-items: start !important;
}

.vcenter {
  align-items: center !important;
}

.vbottom {
  align-items: end !important;
}

.vstretch {
  align-items: stretch !important;
}

.vself-top {
  align-self: start !important;
}

.vself-center {
  align-self: center !important;
}

.vself-bottom {
  align-self: end !important;
}

.vself-stretch {
  align-self: stretch !important;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}
