*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

textarea,
input {
  border-radius: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 1.25rem 0 0.75rem;
}
h1,
.h1 {
  font-size: $h1;
}
h2,
.h2 {
  font-size: $h2;
}
h3,
.h3 {
  font-size: $h3;
}
h4,
.h4 {
  font-size: $h4;
}
h5,
.h5 {
  font-size: $h5;
}
h6,
.h6 {
  font-size: $h6;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  line-height: 1.6rem;
}
