.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-justify {
  text-align: justify !important;
}

.justify-center {
  justify-items: center !important;
}

.justify-start {
  justify-items: start !important;
}

.justify-end {
  justify-items: end !important;
}

.justify-self-center {
  justify-self: center !important;
}

.justify-self-start {
  justify-self: start !important;
}

.justify-self-end {
  justify-self: end !important;
}

.align-start {
  align-items: start !important;
}

.align-center {
  align-items: center !important;
}

.align-end {
  align-items: end !important;
}

.align-stretch {
  align-items: stretch !important;
}

.align-self-start {
  align-self: start !important;
}

.align-self-center {
  align-self: center !important;
}

.align-self-end {
  align-self: end !important;
}

.align-self-stretch {
  align-self: stretch !important;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}
