.hover-bg:hover:not(.sidenav):not(.collapsible):not(.navbar):not(.navbar-menu):not(.dropdown) {
  background-color: var(getCssVar(hover-background));
}

.hover-bg-dark {
  #{getCssVar(hover-background)}: var(getCssVar(hover-background-dark));

  &:hover:not(.sidenav):not(.collapsible):not(.navbar):not(.navbar-menu):not(.dropdown) {
    background-color: var(getCssVar(hover-background-dark));
  }
}

.hover-text:hover:not(.sidenav):not(.collapsible):not(.navbar):not(.navbar-menu):not(.dropdown) {
  color: var(getCssVar(hover-text-color));
}

.hover-text-dark:hover:not(.sidenav):not(.collapsible):not(.navbar):not(.navbar-menu):not(.dropdown) {
  color: var(getCssVar(hover-text-color-dark));
}
