// Flip
.flip-v {
  transform: scaleX(-1) !important;
}

.flip-h {
  transform: scaleY(-1) !important;
}

.flip-vh {
  transform: scale(-1, -1) !important;
}

// Scale
$scale-down-counter: 1;
@for $i from 9 through 1 {
  .scale-down#{$scale-down-counter} {
    transform: scale(#{$i * 0.1}) !important;
  }

  $scale-down-counter: $scale-down-counter + 1;
}

@for $i from 1 through 9 {
  .scale-up#{$i} {
    transform: scale(#{$i * 0.1 + 1}) !important;
  }
}
