.card {
  position: relative;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .card-header {
    font-size: 1.5rem;
    padding: 0.75rem;
  }

  .card-content {
    padding: 0.75rem;
    flex-grow: 1;

    p {
      margin: 0;
    }
  }

  .card-footer {
    padding: 0.75rem;
  }

  .card-image {
    position: relative;

    img {
      width: 100%;
      display: block;
    }
  }
}

.grix {
  &.vstretch .card {
    align-self: auto;
  }

  .card {
    align-self: start;
  }
}
