.form-file {
  position: relative;
  .btn {
    display: table;
    font-weight: initial;
    float: left;
  }

  input[type='file'] {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    width: 100%;
    cursor: pointer;
  }
}
