.form-field {
  margin: 0.25rem 0.5rem 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;

  label {
    display: block;
    font-weight: 500;
    margin-bottom: 0.5rem;
    word-break: normal;
  }

  &.inline {
    flex-direction: row;
    align-items: center;

    label {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
  }

  .form-helper {
    font-size: $form-helper;
    color: #747474;
    margin-top: 0.5rem;
    display: block;
  }
}

.form-control {
  position: relative;
  display: block;
  border: 1px solid #bbb8b8;
  padding: 0.5rem 0.75rem;
  transition: border 0.2s ease, box-shadow 0.3s ease;
  height: 2.5rem;
  width: 100%;
  appearance: none;
  background-color: #fff;
  @extend .rounded-1;

  &:focus {
    outline: 0;
    border-color: transparent;
    @extend .shadow-1;
  }

  &[disabled],
  &[readonly] {
    background-color: #c8c8c8 !important;
    color: #787878 !important;
    border-color: #c8c8c8;
  }
}
