textarea.form-control {
  width: 100%;
  resize: vertical;

  &:not([rows]) {
    min-height: 6rem;
    max-height: 30rem;
  }

  &[rows] {
    height: initial;
  }
}

.form-material {
  .form-field {
    textarea.form-control {
      padding-top: 0.75rem;
    }
  }
}
