.collapsible {
  display: none;
  max-height: 0;
  transition: max-height ease;
}

.sidenav .collapsible {
  flex-shrink: 0;

  a {
    padding-left: 1.75rem;
  }

  .sidenav-link:hover,
  .sidenav-link.active {
    background-color: var(getCssVar(collapsible-active-background));
  }

  &.hover-dark,
  .hover-dark {
    #{getCssVar(collapsible-active-background)}: var(getCssVar(collapsible-active-background-dark));
  }
}
