.collapsible {
  display: none;
  max-height: 0;
  transition: max-height ease;
}

.sidenav .collapsible {
  flex-shrink: 0;

  .sidenav-link {
    padding-left: 1.75rem;

    &:hover,
    &.active {
      background-color: var(getCssVar(hover-collapsible-background));
    }
  }

  &.hover-bg-dark,
  .hover-bg-dark {
    #{getCssVar(hover-collapsible-background)}: var(getCssVar(hover-collapsible-background-dark));
  }
}
