.collapsible {
  display: none;
  max-height: 0;
  transition: max-height ease;
}

.sidenav .collapsible {
  flex-shrink: 0;

  a {
    padding-left: 1.75rem;

    &.active {
      background-color: var(getCssVar(collapsible-active-background));
    }
  }
}
