/*** Navbar ***/
.navbar {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  padding: 0 0.5rem;
  height: $navbar-height;
  line-height: $navbar-height;

  .navbar-logo {
    height: $navbar-logo-height;
    margin: 0 1rem;

    img {
      height: inherit;
    }

    &.centered {
      margin: 0;
    }
  }

  .centered {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .navbar-brand {
    text-decoration: none;
    font-size: 1.5rem;
    color: inherit;
  }

  ul.navbar-menu {
    list-style: none;
  }

  .navbar-menu {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;

    .navbar-link {
      color: inherit;
      text-decoration: none;
      display: block;
      padding: 0 0.6rem;
      transition: background-color 0.23s ease;
      cursor: pointer;

      @include responsive('xs') {
        padding: 0 0.4rem;
      }

      &:hover,
      &.active {
        background-color: rgba(0, 0, 0, 0.15);
      }
    }
  }
}

// Fixed navbar
.navbar-fixed {
  height: 3.5rem;
  width: 100%;
  position: relative;
  z-index: $navbar-zindex;

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}

// Fix for dropdown
.navbar .dropdown {
  z-index: $dropdown-zindex-navbar;

  .dropdown-content {
    line-height: 1.15;
  }
}
