@use "sass:map";

/* IMPORTANT : Don't forget to add !default flag to all SCSS variables in this file */

/**
  ######## Summary ########
  0. Specials
  1. Breakpoints
  2. Colors
  3. Grix
  4. Layouts
  5. Core Typography
  6. Navbar
  7. Sidenav
  8. Dropdown
  9. Floating Action Button (FAB)
  10. Tooltip
  #########################
**/

/**
  0. Specials
**/
$generated-css-vars: map.remove(
  (
    x: x,
  ),
  x
) !default;
$prefix: 'ax' !default;

/** 
  1. BREAKPOINTS
 **/
$breakpoints: (
  'xs': 'screen and (max-width: 599px)',
  'sm': 'screen and (min-width: 600px) and (max-width: 959px)',
  'md': 'screen and (min-width: 960px) and (max-width: 1279px)',
  'lg': 'screen and (min-width: 1280px) and (max-width: 1919px)',
  'xl': 'screen and (min-width: 1920px)',
) !default;

$extra-breakpoints: (
  'sm-down': 'screen and (max-width: 959px)',
  'md-down': 'screen and (max-width: 1279px)',
  'lg-down': 'screen and (max-width: 1919px)',
  'sm-up': 'screen and (min-width: 600px)',
  'md-up': 'screen and (min-width: 960px)',
  'lg-up': 'screen and (min-width: 1280px)',
) !default;

// Specific for grix generation
$grix-breakpoints: (
  'xs': '',
  'sm': 'screen and (min-width: 600px)',
  'md': 'screen and (min-width: 960px)',
  'lg': 'screen and (min-width: 1280px)',
  'xl': 'screen and (min-width: 1920px)',
) !default;

/** 
  2. Colors
**/
$colors: (
  'cyan': #28d1e7,
  'yellow': #f0de3b,
  'orange': #ff9028,
  'magenta': #e920e9,
  'blue': #2196f3,
  'red': #e92626,
  'green': #27e927,
  'viride': #61b399,
  'mole': #b3956d,
  'amaranth': #e62454,
  'airforce': #658fa3,
  'meadow': #22e684,
  'grey': #a5a5a5,
) !default;

$axentix-palette: (
  'primary': #2196f3,
  'secondary': #22ac72,
  'success': #12ad12,
  'warning': #fccc2e,
  'error': #df2c29,
  'white': #fff,
  'black': #000,
  'transparent': transparent,
) !default;

/**
  3. Grix
**/
$grix-max-cols: 12 !default;
$grix-gutter: (
  '0': 0,
  '1': 0.5rem,
  '2': 0.75rem,
  '3': 1rem,
  '4': 1.25rem,
  '5': 1.5rem,
  '6': 1.75rem,
  '7': 2rem,
) !default;

/**
  4. Layouts
**/
$layouts-areas: 'header' 'main' 'footer' !default;
$layouts-columns: minmax(0, 1fr) !default;
$layouts-rows: auto 1fr auto !default;
$generated-css-vars: map.set($generated-css-vars, 'layout-areas', $layouts-areas);
$generated-css-vars: map.set($generated-css-vars, 'layout-columns', $layouts-columns);
$generated-css-vars: map.set($generated-css-vars, 'layout-rows', $layouts-rows);

$layouts-sidenav-fixed-z-index: 710 !default;
$layouts-sidenav-fixed-z-index-mdup: 690 !default;

/**
  5. Core Typography
**/
$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !default;

$generated-css-vars: map.set($generated-css-vars, 'font-family', $font-family);

$base-size: 1rem !default;
$h1: $base-size * 2.75 !default;
$h2: $base-size * 2.25 !default;
$h3: $base-size * 2 !default;
$h4: $base-size * 1.75 !default;
$h5: $base-size * 1.5 !default;
$h6: $base-size * 1.25 !default;

/**
  6. Navbar
**/
$navbar-height: 3.5rem !default;
$navbar-z-index: 100 !default;

$generated-css-vars: map.set($generated-css-vars, 'navbar-height', $navbar-height);
$generated-css-vars: map.set($generated-css-vars, 'navbar-z-index', $navbar-z-index);

/**
  7. Sidenav
**/
$sidenav-width: 12rem !default;
$sidenav-z-index: 710 !default;
$sidenav-logo-height: 3rem !default;
$sidenav-header-height: 5rem !default;
$sidenav-overlay-zindex: 700 !default;

$generated-css-vars: map.set($generated-css-vars, 'sidenav-width', $sidenav-width);
$generated-css-vars: map.set($generated-css-vars, 'sidenav-z-index', $sidenav-z-index);
$generated-css-vars: map.set($generated-css-vars, 'sidenav-logo-height', $sidenav-logo-height);
$generated-css-vars: map.set($generated-css-vars, 'sidenav-header-height', $sidenav-header-height);

/**
  8. Dropdown
**/
$dropdown-z-index: 10 !default;
$dropdown-z-index-navbar: 20 !default;
$dropdown-z-index-sidenav: 30 !default;

$generated-css-vars: map.set($generated-css-vars, 'dropdown-z-index', $dropdown-z-index);
$generated-css-vars: map.set($generated-css-vars, 'dropdown-z-index-navbar', $dropdown-z-index-navbar);
$generated-css-vars: map.set($generated-css-vars, 'dropdown-z-index-sidenav', $dropdown-z-index-sidenav);

/**
  9. Floating Action Button (FAB)
**/
$fab-z-index: 200 !default;
$generated-css-vars: map.set($generated-css-vars, 'fab-z-index', $fab-z-index);

/**
  10. Tooltip
**/
$tooltip-z-index: 999 !default;
$generated-css-vars: map.set($generated-css-vars, 'tooltip-z-index', $tooltip-z-index);

// Forms
$form-helper-size: 0.75rem !default;
$form-disabled-color: #787878 !default;
$form-checkbox-disabled-color: #afafaf !default;

// Material Forms
$material-animation-duration: 0.3s !default;
$material-border-color: #c7c7c7 !default;
$material-color: getColor('viride', 'dark', 1) !default;
$material-placeholder-color: getColor('grey', 'dark', 2) !default;

// Switch
$switch-bg-color: #e2e2e2 !default;
$switch-bg-disabled-color: #c7c7c7 !default;
$switch-bg-active-color: getColor('viride', 'dark', 1) !default;
$switch-btn-color: #fff !default;
$switch-animation-duration: 0.3s !default;

/**
  x. Utilities
  x.1 Cursors
  x.2 Overflow
  x.3 Shadows
  x.4 Hoverable
  x.5 Rounded
  x.6 Margins & paddings
  x.7 Line height
  x.8 Display
  x.9 Borders
  x.10 Typography
**/

/**
  x.1 Cursors
**/
$cursors: 'default', 'pointer', 'not-allowed', 'grab', 'wait', 'zoom-in', 'zoom-out', 'none' !default;

/**
  x.2 Overflow
**/
$overflows: 'visible', 'auto', 'hidden', 'scroll', 'initial', 'inherit' !default;

/**
  x.3 Shadows
**/
$light-shadows: (
  '1': '0 6px 10px -5px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05)',
  '2': '0 8px 12px -2px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05)',
  '3': '0 10px 15px -1px rgba(0, 0, 0, 0.1), 0 6px 8px 0px rgba(0, 0, 0, 0.05)',
  '4': '0 15px 20px -1px rgba(0, 0, 0, 0.11), 0 8px 10px 0px rgba(0, 0, 0, 0.06)',
  '5': '0 20px 30px 0px rgba(0, 0, 0, 0.12), 0 10px 10px -2px rgba(0, 0, 0, 0.06)',
) !default;

$shadows: (
  '1': '0 4px 8px 0 rgba(0, 0, 0, 0.10),  0 2px 5px 2px rgba(0,0,0,0.06)',
  '2': '0 5px 8px 0 rgba(0, 0, 0, 0.10),  0 3px 8px 3px rgba(0,0,0,0.1)',
  '3': '0 6px 8px 0 rgba(0, 0, 0, 0.1), 0 5px 12px 4px rgba(0,0,0,0.15)',
  '4': '0 7px 8px 0 rgba(0, 0, 0, 0.1), 0 7px 18px 6px rgba(0,0,0,0.15)',
  '5': '0 8px 9px 0 rgba(0, 0, 0, 0.12),  0 10px 25px 8px rgba(0,0,0,0.15)',
) !default;

$drop-shadows: (
  '1': drop-shadow(0 0.15rem 0.1rem #808080),
  '2': drop-shadow(0 0.15rem 0.125rem #5f5f5f),
  '3': drop-shadow(0 0.15rem 0.15rem #494949),
  '4': drop-shadow(0 0.15rem 0.15rem #292929),
  '5': drop-shadow(0 0.15rem 0.2rem #000000),
) !default;

$text-shadows: (
  '1': 0 2px 5px rgba(0, 0, 0, 0.4),
  '2': 2px 4px 3px rgba(0, 0, 0, 0.3),
  '3': 0px 4px 3px rgba(0, 0, 0, 0.5),
  '4': 6px 6px 0px rgba(0, 0, 0, 0.2),
) !default;

/**
  x.4 Hoverable
**/
$light-hoverable-delay: 0.3s !default;
$hoverable-delay: 0.2s !default;

$light-hoverable: (
  '1': '0 11px 10px -5px rgba(0, 0, 0, 0.1), 0 9px 6px -2px rgba(0, 0, 0, 0.06)',
  '2': '0 13px 12px -2px rgba(0, 0, 0, 0.11), 0 9px 6px -7px rgba(0, 0, 0, 0.06)',
  '3': '0 15px 15px -1px rgba(0, 0, 0, 0.11), 0 11px 8px 0px rgba(0, 0, 0, 0.06)',
  '4': '0 20px 20px -1px rgba(0, 0, 0, 0.12), 0 13px 10px 0px rgba(0, 0, 0, 0.07)',
  '5': '0 25px 30px -1px rgba(0, 0, 0, 0.13), 0 15px 10px -2px rgba(0, 0, 0, 0.07)',
) !default;

$hoverable: (
  '1': '0px 9px 8px 0px rgba(0, 0, 0, 0.10),  0px 5px 8px 3px rgba(0,0,0,0.12)',
  '2': '0 10px 8px 0 rgba(0, 0, 0, 0.10),  0 6px 8px 3px rgba(0,0,0,0.16)',
  '3': '0 11px 8px 0 rgba(0, 0, 0, 0.1), 0 8px 12px 4px rgba(0,0,0,0.20)',
  '4': '0 12px 8px 0 rgba(0, 0, 0, 0.1), 0 16px 18px 6px rgba(0,0,0,0.2)',
  '5': '0 13px 9px 0 rgba(0, 0, 0, 0.12),  0 18px 25px 8px rgba(0,0,0,0.2)',
) !default;

/**
  x.5 Rounded
**/
$rounded: (
  '0': '0',
  '1': '5px',
  '2': '10px',
  '3': '20px',
  '4': '30px',
  'full': '100%',
) !default;

/**
  x.6 Margins & paddings
**/
$mp-base-space: 1rem !default;
$mp-spaces: (
  '0': 0,
  '1': $mp-base-space * 0.25,
  '2': $mp-base-space * 0.5,
  '3': $mp-base-space * 1,
  '4': $mp-base-space * 1.5,
  '5': $mp-base-space * 2.5,
  'auto': auto,
) !default;

/**
  x.7 Line height
**/
$lh-relative: (
  '1': 1,
  '2': 1.25,
  '3': 1.375,
  '4': 1.5,
  '5': 1.625,
  '6': 2,
) !default;

$lh-rem: (
  '1': 1rem,
  '2': 1.25rem,
  '3': 1.5rem,
  '4': 1.75rem,
  '5': 2rem,
) !default;

/**
  x.8 Display
**/
$displays: 'block', 'flex', 'grid', 'table', 'inline', 'inline-block', 'inline-flex', 'inline-table' !default;

/**
  x.9 Borders
**/
$bd-base-width: 1px !default;
$bd-width: (
  '0': 0,
  '1': $bd-base-width * 1,
  '2': $bd-base-width * 1.5,
  '3': $bd-base-width * 2,
  '4': $bd-base-width * 4,
  '5': $bd-base-width * 6,
) !default;

$bd-style: 'dashed', 'dotted', 'double', 'groove', 'hidden', 'none', 'inset', 'outset', 'ridge', 'solid',
  'revert' !default;

/**
  x.10 Typography
**/
$font-base-size: 1rem !default;
$font-sizes: (
  '1': $font-base-size * 0.75,
  '2': $font-base-size * 1,
  '3': $font-base-size * 1.25,
  '4': $font-base-size * 1.5,
  '5': $font-base-size * 1.75,
  '6': $font-base-size * 2,
  '7': $font-base-size * 2.5,
  '8': $font-base-size * 3,
  '9': $font-base-size * 3.5,
  '10': $font-base-size * 4.25,
  '11': $font-base-size * 5,
  '12': $font-base-size * 6,
) !default;
