/*** Grix : Efficient grid system for everyone ***/
// Base
.grix {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 0.25rem;
}

@each $name, $value in $grid-breakpoints {
  @if ($name == 'xs') {
    @for $i from 1 through $max-cols {
      .grix.#{$name}#{$i} {
        grid-template-columns: repeat($i, minmax(0, 1fr));
      }

      .col-#{$name}#{$i} {
        grid-column: auto / span $i;
      }

      .row-#{$name}#{$i} {
        grid-row: auto / span $i;
      }

      .pos-#{$name}#{$i} {
        grid-column-start: #{$i} !important;
      }

      .pos-row-#{$name}#{$i} {
        grid-row-start: #{$i} !important;
      }
    }
  } @else {
    @for $i from 1 through $max-cols {
      @media #{$value} {
        .grix.#{$name}#{$i} {
          grid-template-columns: repeat($i, minmax(0, 1fr));
        }

        .col-#{$name}#{$i} {
          grid-column: auto / span $i;
        }

        .row-#{$name}#{$i} {
          grid-row: auto / span $i;
        }

        .pos-#{$name}#{$i} {
          grid-column-start: #{$i} !important;
        }

        .pos-row-#{$name}#{$i} {
          grid-row-start: #{$i} !important;
        }
      }
    }
  }
}

// Gutters
@each $num, $size in $gutter {
  @each $name, $value in $grid-breakpoints {
    @if ($name == 'xs') {
      .gutter-#{$name}#{$num} {
        grid-gap: $size;
      }
    } @else {
      @media #{$value} {
        .gutter-#{$name}#{$num} {
          grid-gap: $size;
        }
      }
    }
  }
}
