textarea.form-control {
  width: 100%;
  resize: vertical;

  &:not([rows]) {
    min-height: 6rem;
    max-height: 30rem;
  }

  &[rows] {
    height: initial;
  }
}

.form-material {
  .form-field:not(.form-default) {
    textarea.form-control {
      margin-top: 0.75rem;
      transition: var(getCssVar(form-material-transition-duration)) ease border;
    }

    &.active {
      textarea.form-control {
        &[disabled] + label,
        &[readonly] + label {
          color: var(getCssVar(form-disabled-color));
        }
      }

      &.is-textarea-focused {
        label {
          color: var(getCssVar(form-material-color));
        }

        textarea.form-control {
          border-bottom: var(getCssVar(form-material-active-border-width))
            var(getCssVar(form-material-active-border-style)) var(getCssVar(form-material-color)) !important;
        }
      }
    }
  }

  &.form-material-bordered .form-field:not(.form-default) {
    textarea.form-control {
      margin-top: 0;
      padding-top: 0.5rem;
    }

    &.is-textarea-focused {
      textarea.form-control {
        border: var(getCssVar(form-material-active-border-width)) var(getCssVar(form-material-active-border-style)) var(getCssVar(form-material-color)) !important;
        border-color: var(getCssVar(form-material-color)) !important;
      }
    }
  }
}
